
* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

 body {
  display: grid;
  margin: 0;
  font-family: Helvetica;
  background-color: #555555;
  
}


header {
  background-color: #494949;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

span.planeSpan {
  margin-left: 20px;
}


header * {
  display: inline;
}

header li {
  margin: 15px;
}

header li a {
  color: #acacac;
  text-decoration: none;
  font-weight: 700;
}

header li a:hover {
  color: #ffc400;
  text-decoration: none;
}

h1 {
 margin-top: 100px;
}

h2 {
  margin-top: 10px;
  color: #efefef;
  font-size: 20px;
  text-align: left;
 }

 h3 {
  margin-top: 20px;
  color: #000000;
  font-size: 22px;
 }



table {
  width: 100%;
  border-spacing: 1px;
}

thead {
  height: 50px;
}

tr.tableHead {
  background-color: #ffc400;
  height: 30px;
  color: #333333;
}

tr.tableDestHead {
  background-color: #ff9100;
  height: 30px;
  color: #333333;
}

th {
  text-align: center;

}

th.dataDelete {
  text-align: center;
  width: 80px;

}

th.seatDestAirport {
  text-align: center;
  width: 250px;

}

tr.tableBody {
  background-color: #777777;
  height: 30px;
  color: #efefef;
}

tr.tableAddBody {
  background-color: #777777;
  height: 100px;
  color: #efefef;
}



tr a {
  color: #000000;
  text-decoration: none;
}

tr a:hover {
  color: #ffffff;
}

tr.tableBodyPast{
  animation: blinkingBackground .5s infinite;
  height: 30px;
  color: #ffffff;
}
@keyframes blinkingBackground{
  50%		{ background-color: #ef0a1a;}
 }

label {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  color: #ffc400;
}

tr.tableBody:nth-child(even) {background-color: #999999;} */

div.newForm {
  margin-top: 5px;
}

select {
  width: 10%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
input {
  width: 10%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=datetime-local] {
  width: 20%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}


input[type=submit] {
  width: 15%;
  padding: 19px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffc400;
}

button.detailButton {
  padding: 5px;
  width: 100px;
}